// out: styles.css, sourcemap: false, compress: false

@black: #231f20;
@white: #fff;
@blue: #2bb3bb;
@pink: #af025c;

@sansFontFamily: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background-color: fade(@black, 15%);
  color: @black;
  font-family: @sansFontFamily;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4;
  min-height: 740px;
  position: relative;
}

.step {
  position: relative;
  margin: 0;
  opacity: 0;
  transition: opacity 0.6s;
  box-sizing: border-box;

  &.past {
    opacity: 0.3;
  }
  &.present, &.active {
    opacity: 1;
  }
}

.slide {
  width: 1200px;

  > .content {
    position: absolute;
    padding: 25px 40px;
    margin: 0;

    &::before {
      content: '';
      width: 0px;
      height: 0px;
      border: 20px solid transparent;
      position: absolute;
      top: 10px;
    }
  }

  &.left > .content {
    left: 0;
    background-color: @blue;
    color: @white;

    &::before {
      left: -60px;
      border-right: 40px solid @blue;
    }
  }
  &.right > .content {
    right: 0;
    background-color: @white;

    &::before {
      right: -60px;
      border-left: 40px solid @white;
    }
  }
}

#logo {
  transition: all 0.6s;

  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  path, rect {
    fill: @black;
  }

  .impress-on-title & {
    bottom: 250px;
    margin-left: -150px;
    width: 375px;
  }
  .impress-on-scott-logic & {
    bottom: 50%;
    margin-left: -250px;
    width: 500px;
  }
}

#title {
  height: 400px;
  font-size: 1.142em;
  & > .content {
    width: 1120px;
  }

  .impress-on-title2 & {
    opacity: 1;
  }
}

.impress-on-scott-logic .step {
  opacity: 0;
}

#smartphone,
#whatsapp,
#messenger,
#skype,
#other-chat {
  height: 100px;
}

#messenger-overtakes-social {
  height: 600px;
  & > .content {
    width: 800px;

    .source {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 200px;
    }
  }
}

#uber-on-messenger {
  height: 655px;
  & > .content {
    width: 1120px;

    > video {
      width: 100%;
    }
  }
}

#whatsapp-quote {
  height: 600px;
  & > .content {

    blockquote {
      padding: 0 20px;
      margin: 20px 0;
      font-size: 0.8em;
      border-left: 10px solid fade(@black, 25%);
      quotes: "\201C""\201D""\2018""\2019";

      &:before {
        color: fade(@black, 40%);
        content: open-quote;
        font-size: 3em;
        line-height: 0.1em;
        vertical-align: -0.4em;
      }
      p {
        display: inline;
        font-style: italic;
        em {
          font-style: normal;
        }
      }
      footer {
        .logo {
          width: 300px;
          display: block;
          margin: 20px 20px 0 20px;
        }
        .date {
          font-size: 0.7em;
          font-style: normal;
          margin-left: 100px;
        }
      }
    }
  }
}
