body {
  background-color: rgba(35, 31, 32, 0.15);
  color: #231f20;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 300;
  line-height: 1.4;
  min-height: 740px;
  position: relative;
}
.step {
  position: relative;
  margin: 0;
  opacity: 0;
  transition: opacity 0.6s;
  box-sizing: border-box;
}
.step.past {
  opacity: 0.3;
}
.step.present,
.step.active {
  opacity: 1;
}
.slide {
  width: 1200px;
}
.slide > .content {
  position: absolute;
  padding: 25px 40px;
  margin: 0;
}
.slide > .content::before {
  content: '';
  width: 0px;
  height: 0px;
  border: 20px solid transparent;
  position: absolute;
  top: 10px;
}
.slide.left > .content {
  left: 0;
  background-color: #2bb3bb;
  color: #ffffff;
}
.slide.left > .content::before {
  left: -60px;
  border-right: 40px solid #2bb3bb;
}
.slide.right > .content {
  right: 0;
  background-color: #ffffff;
}
.slide.right > .content::before {
  right: -60px;
  border-left: 40px solid #ffffff;
}
#logo {
  transition: all 0.6s;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin-left: -100px;
  width: 200px;
}
#logo path,
#logo rect {
  fill: #231f20;
}
.impress-on-title #logo {
  bottom: 250px;
  margin-left: -150px;
  width: 375px;
}
.impress-on-scott-logic #logo {
  bottom: 50%;
  margin-left: -250px;
  width: 500px;
}
#title {
  height: 400px;
  font-size: 1.142em;
}
#title > .content {
  width: 1120px;
}
.impress-on-title2 #title {
  opacity: 1;
}
.impress-on-scott-logic .step {
  opacity: 0;
}
#smartphone,
#whatsapp,
#messenger,
#skype,
#other-chat {
  height: 100px;
}
#messenger-overtakes-social {
  height: 600px;
}
#messenger-overtakes-social > .content {
  width: 800px;
}
#messenger-overtakes-social > .content .source {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 200px;
}
#thats-nice {
  height: 300px;
}
#uber-on-messenger {
  height: 700px;
}
#uber-on-messenger > .content {
  width: 1120px;
}
#uber-on-messenger > .content > video {
  width: 100%;
}
#slack {
  height: 200px;
  font-size: 0;
}
#slack > .content img {
  width: 450px;
}
#slash-command-demo {
  height: 200px;
}
#slash-command-demo svg {
  width: 100px;
  opacity: 0.5;
  position: absolute;
  right: 0;
}
#more-to-banking {
  height: 300px;
}
#whatsapp-quote {
  height: 600px;
}
#whatsapp-quote > .content blockquote {
  padding: 0 20px;
  margin: 20px 0;
  font-size: 0.8em;
  border-left: 10px solid rgba(35, 31, 32, 0.25);
  quotes: "\201C" "\201D" "\2018" "\2019";
}
#whatsapp-quote > .content blockquote:before {
  color: rgba(35, 31, 32, 0.4);
  content: open-quote;
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -0.4em;
}
#whatsapp-quote > .content blockquote p {
  display: inline;
  font-style: italic;
}
#whatsapp-quote > .content blockquote p em {
  font-style: normal;
}
#whatsapp-quote > .content blockquote footer .logo {
  width: 300px;
  display: block;
  margin: 20px 20px 0 20px;
}
#whatsapp-quote > .content blockquote footer .date {
  font-size: 0.7em;
  font-style: normal;
  margin-left: 100px;
}
